<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="noscroll">

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">

<roundcube:include file="/includes/settingstabs.html" />

<div id="pluginbody" class='uibox contentbox vacationform'><div id="prefs-title" class="boxtitle"><roundcube:label name="vacation.outofoffice" /></div>
    <form name="vacationform" action="./?_task=settings&_action=plugin.vacation-save" method="post">
    <div class='scroller'>
        <roundcube:object name="plugin.vacation_form" />
        <p><roundcube:button command="plugin.vacation-save" type="input"
            class="button mainaction" label="save" title="save" /></p>
        </div>
    </form>
<div id="message" class="statusbar"></div>
</div>

</div>
</div>

</body>
</html>
